body {
    text-align: center;
    background: linear-gradient(236.85deg, #ca9044 27.26%, #e2b2c8 96.03%);
}

.quadrado {
    text-align: center;
    width: 50px;
    height: 50px;
    background: #eeeeee;
    display: inline-block;
    padding: 40px; 
    font-size: 60px; 
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.jogador, .vencedor {
    font-size: 28px;
    margin-top: 8px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #eee;
    cursor: pointer;
}